.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.chart {
    width: 800px;
}

/* Begin barcode styling */
.barcode {
	border: 1px solid #e3e3e3;
	height: 20px;
	width: 300px;
}

.barcode .game {
	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
}

.barcode .game {
	background-color: red;
}

.barcode .game.win {
	background-color: green;
}