.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.chart {
    width: 800px;
}

/* Begin barcode styling */
.barcode {
	height: 20px;
	width: 300px;

	margin-bottom: 10px;

	position: relative;
}

.barcode .game {
	position: absolute;
	top: 0;

	cursor: pointer;

	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
	background-color: grey;
}

.barcode .game.win {
	background-color: green;
}
/* End barcode styling */
/* Begin total */
.totalz {
	position: fixed;
	top: 5px;
	left: 5px;
}

.totalz div {
	display: inline-block;
}
/* End total */

/* Begin text list styling */
.list {
	position: absolute;
	top: 5px;
	right: 30px;
}
/* End text list styling */

/* Begin tickChart styling */
.tick .game {
	position: absolute;
	top: 0px;

	background-color: black;
	width: 1px;
	height: 10px;


	cursor: pointer;
/*
    transform: rotate(-45deg);
    transform-origin: 0 -5px;*/
    border-radius: 2px;
}

.tick .game.win {
	top: -10px; /* Same as -1 * height */

/*
    transform: rotate(45deg);
    transform-origin: 0 5px;*/
}

.tick {
	margin-top: 30px;
	width: 300px;
	height: 1px;
	border-top: solid 1px black;
	position: relative;
}
/* End tickChart styling */
