.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: 100%;
}

.chart {
    width: 800px;
}

/* Begin barcode styling */
.barcode {
	height: 20px;
	width: 300px;

	margin-bottom: 10px;

	position: relative;
}

.barcode .game {
	position: absolute;
	top: 0;

	cursor: pointer;

	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
	background-color: grey;
}

.barcode .game.win {
	background-color: green;
}
/* End barcode styling */
/* Begin total */
.totalz {
	position: fixed;
	top: 5px;
	left: 5px;
}

.totalz div {
	display: inline-block;
}
/* End total */

/* Begin text list styling */
.list {
	width: 100%;
}

.listContainer {
	position: absolute;
	top: 5px;
	right: 30px;

	height: 100%;
	width: 240px;
	overflow-y: auto;
	overflow-x: hidden;
}
.date {
	height: 60px;
}

.date.selected {
	background-color: blue;
	color: #ffffff;
}
/* End text list styling */

/* Begin tickChart styling */
.tickMark .game {
	position: absolute;
	/*top: -1px;*/

	background-color: rgba(0, 0, 0, 0);
	width: 1px;
	height:100%;


	cursor: pointer;

    border-radius: 2px;
}

.tickMark .game.win {
	/*top: -10px;  Same as -1 * height */
}

.tickMark {
	margin-top: 30px;
	width: 300px;
	height: 100px;
	border-bottom: solid 1px #ccc;

	border-left: solid 1px #ccc;
	position: absolute;
	top: 0;
	left: 0;
}

.tickMarkList {
	position: relative;
}
/* End tickChart styling */

/* Begin line chart */
svg.lineSvgWrapper {
	width: 300px;
	height: 100px;
}

path {
	stroke: steelblue;
	stroke-width: 1;
	fill: none;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path, .tick {
  fill: none;
  stroke: #ccc;
}
/* End line chart */